.hero-block {
    height: calc(100vh - 120px);
    position: relative;

    @include media (sm) {
        height: calc(100vh - 64px);
    }

    img {
        width: 100%;
        object-position: center;
        object-fit: cover;
        height: calc(100vh - 120px);
        position: relative;

        @include media (sm) {
            height: calc(100vh - 64px);
        }
    }

    .splide__slide::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: linear-gradient(0deg, rgba(0, 136, 0, 0.49352240896358546) 2%, rgba(240, 245, 0, 0.4234943977591037) 100%);
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        width: 100%;
        text-align: center;
    }
}
