// colors
$white-color: #fff;
$black-color: #000;
$gradient-color: linear-gradient(0deg, rgba(0, 136, 0, 1) 0%, rgba(244, 245, 0, 1) 100%);
$main-font-color: #525050;
;
//dots-color
$dots-color: $white-color;
$dots-bg-color: $dots-color;
$border-dots: 1px solid $dots-color;

$black-color: #000;
$dark-grey: #333;
$icon-color: $white-color;
$color-mobile-menu: rgba(83, 115, 253, 0.9);

// container
$container-padding: 15px;
$container-max-with: 1170px;
$gap: 15px;
$default-coutn-col: 12;
$default-width: 1170px;

$breack-points: (
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px,
    "xxxs": 320px
);
