.footer {
    padding: 6rem 0;
    background: linear-gradient(0deg, rgba(0, 136, 0, 1) 2%, rgba(240, 245, 0, 1) 100%);
    color: #fff;


    @include media(md) {
        padding: 3rem 0;
    }

    .logo-home {
        color: #fff;
        padding-bottom: 1rem;
    }

    &__social-list {
        display: flex;
        gap: 2rem;
        justify-content: end;

        @include media(sm) {
            justify-content: start;
        }

        a {
            transition: transform 0.3s ease-in-out;

            &:hover,
            :active {
                transform: scale(1.5);

            }
        }

        svg {
            color: #fff;
        }
    }
}
